<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} " />
  <title>{% block title %}{%endblock%}</title>
</head>

<body>
  <header class="container">{% block header %} {% endblock header %}</header>

  <main class="container" role="main">
    {% block content %} {% endblock content %}
  </main>

  {# <footer class="footer mt-auto py-3 bg-light fixed-bottom">
      <div class="container text-muted">
        Source Code at:
        <a href="https://github.com/m4hi2/prosnottor" target="_blank">Github</a>
        {% block footer %} {% endblock footer %}
      </div>
    </footer> #}
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>