{% extends "base.html" %}
{% block header %}

<h1>
  {% block title %}
  Facebook Data Dump Checker (For Bangladesh)
  {% endblock title %}
</h1>
{% endblock header %}
{% block content %}
<div>
  <p>
    This is a public service.
  </p>
  <p>
    You can only check with your phone number here.
    You can not find out who this phone number belong to
    or links to any Facebook ID using our service.
    This is only created for curious people who wanted to find
    out if their data was in the leak or not. (Only works with Bangladeshi numbers.)
  </p>
  <p>
    PS: We're storing nothing. This is running on a basically "bhangari" server,
    which doesn't even have proper logging. And sysadmin is a certified cat, always sleepy.
  </p>
</div>
<form method="post">
  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number:</label>
    <input type="text" name="phone" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Check!</button>
</form>
{% endblock content %}